.container {
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
}

body {
  margin-top: 36px;
  margin-bottom: 36px;
}

button {
  background-color: #4e75ff;
  color: #ffffff;
  width: 91px;
  height: 40px;
  padding: 0px;
  box-sizing: border-box;

  border-radius: 8px;
  border: none;

  font-weight: 500;
  font-family: Montserrat, sans-serif;
  line-height: 24px;
  letter-spacing: 4%;
  font-size: 16px;
}

button:hover {
  background-color: #6c8cff;
}
input {
  box-sizing: border-box;
  padding: 0px;
  padding-left: 10px;
  padding-right: 10px;

  height: 40px;
  width: 272px;

  border-radius: 4px;

  border: 1px solid #808080;
  color: #808080;
  cursor: text;
}

input:hover {
  border-color: #000000;
  outline: none;
}

input:focus {
  border: 1px solid #4e75ff;
  outline: none;
}

form {
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-bottom: 32px;
}

.hidden {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 4%;
  font-family: Montserrat, sans-serif;
  color: #2e2f42;
  display: none;
}

.loader {
  text-align: center;
}

.load-more-container {
  text-align: center;
  margin-top: 16px;
}

.load-more-status {
  margin-top: 8px;
  font-size: 14px;
  color: #2e2f42;
}
